{% extends "base.html" %}

{% block content %}
<div id="login-form-container">
<div class=".form-vertical" id="login-form">
<div >Login</div>
<form action="{{action}}" method="POST" enctype="multipart/form-data">
        <div class="fill-all"><input type="text" id="username" name="username" placeholder="username"></div>
        <div class="fill-all"><input type="password" id="password" name="password" placeholder="password"></div>
    <div class="form-buttons">
        <input type="submit" value="Login">
    </div>
</form>
</div>
</div>
{% endblock %}
